 
/* 
    Created on : 24 déc. 2020, 12:06:21
    Author     : silah
*/

.ui-widget, .ui-widget .ui-widget {
    font-size: 98% !important;
}

.footer .ui-layout-unit-content, .ui-layout-south{  
    background-color :  #ffffff;  
    font-family: consolas, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.west .ui-layout-unit-content{ 

}
.center .ui-layout-unit-content{
    display: flex;
    align-content: center;
}

.ui-layout-north{
    box-shadow: 2px 2px 5px #dddddd, -2px -2px 5px #dddddd;   
    border: 0px;
}
.ui-layout-center, .ui-layout-south, .ui-layout-west{ 
    border: 0px;
    background-color: #ffffff;    
}

.ui-button.btn, .btn .ui-button {
    width:100%; 
    background-color: #ffffff;
    border-radius: 5px; 
}
.admin{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.ui-button.mod{
    color: blue;
    font-weight: bold;
}
.ui-button.sup{
    color: red;
    font-weight: bold;
}

.ui-button.validate{
    color: green;
    font-weight: bold;
}
.ui-inputtextarea.saisie{
    width: 500px;
    height: 300px;
    box-shadow: 0px 0px 0px #dddddd, 0px 0px 0px #dddddd;  
    font-size: 25px !important;
    font-weight: bold;
    padding: 15px;
    text-align: center; 
}

.ui-inputtext.text{
    width: 500px;
    box-shadow: 0px 0px 0px #dddddd, 0px 0px 0px #dddddd; 
    padding: 10px;
    font-size: 19px;

}
.grid{
    width: 500px;
}
.ui-datatable .ui-widget-header{
    background-color: #ffffff;
}
 